node_modules
dist
data-cache
data-cache-30m-long
data-cache-40v
data-cache-60m
data-cache-60m-long
data-cache-all70
data-cache-daily-20y
data-cache-daily-long
data-cache-oos-2y
data-cache-test-2y
data-cache-train-18y
backtest-results
*.md
*.log
.env
.env.*
